*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #8e8d8a; 
    /* height: 20%; */
   
}
.navbar ul li{
    display: inline-block;
    margin: 20px 40px;
    
    
   
}
.navbar h2{
    font-size: 32px;
    color: #d8c3a5;
    font-weight: 700;
    margin: 0px 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
body{
    background: #eae7dc;
    min-height: 100vh;
}
.navbar ul li a{
    text-decoration: none;
    color: #d8c3a5;
    font-size: 18px;
}
.navbar ul li a:hover{
    color: #e85a4f;
}

footer{
    position: sticky;
    top: 100%;
    background-color: #8e8d8a; 
    width: 100%;
    height: 150px;
   text-align: center;
   
   
   
}
footer ul li a{
    color: #d8c3a5;
    text-decoration: none;
    }

footer ul li{
    display: inline-block;
    margin: 70px 20px;
    
  
}
footer ul li :hover{
    color: #e85a4f;
}
body main h2{
    font-weight: 250;
    font-size: 45px;
    color: #d8c3a5;
    text-transform: uppercase;
}
body main p {
    
    color:#e85a4f;
    font-family:"consolas", sans-serif;
    font-size: 25px;
    
}
main {
margin: 100px 40px ;

}
